{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shubham Aggarwal">
    <meta property="og:url" content="http://conextractor.herokuapp.com"/>
    <meta property="og:site_name" content="Conextractor"/>
    <meta property="og:title" content="Conextractor | Extract WhatsApp Group Contacts"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://i.imgur.com/Vx5Xgix.png"/>
    <meta property="og:description"
          content="Conextractor helps to extract your whatsapp group contacts through your input html code."/>
    <meta name="description"
          content="Conextractor helps to extract your whatsapp group contacts through your input html code.">
    <meta name="keywords" content="shuboy2014, shuboy, portfolio, shubham aggarwal, django, python, machine learning, \
    data scientist, djangorestframework, javascript,jquery, font-awesome, whatsapp group contact extractor,hackernews \
    scrapper, conextractor, yoide, shorturl, MAIT, chrome extensions, saveit pasteit, chatbot, lotu-chatbot">
    <title>ConExtractor | Extract WhatsApp Group Contacts</title>

    {# plugins css #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.2/csshake.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {# custom css #}
    <link href="{% static 'css/whatprocss.min.css' %}" rel="stylesheet" type="text/css">

    {# recaptcha API javascript #}
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body>
<nav>
    <div class="navbar-fixed light-blue darken-4">
        <div class="container">
            <a href="/" class="brand-logo">ConExtractor</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="shake-slow"><a href="https://facebook.com/hackprodev" target="_blank"><i
                        class="fa fa-facebook fa-2x"></i></a></li>
                <li class="shake-slow"><a href="https://github.com/hackprodev" target="_blank"><i
                        class="fa fa-github fa-2x"></i></a>
                </li>
                <li class="shake-slow"><a href="https://www.youtube.com/channel/UC-jSOiQs07LAbdEbXTzY20w"
                                          target="_blank"><i
                        class="fa fa-youtube fa-2x"></i></a>
                </li>
                <li class="shake-slow"><a href="https://twitter.com/hackprodev" target="_blank"><i
                        class="fa fa-twitter fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<a href="https://github.com/shuboy2014/ConExtractor"
   style="position: absolute; top: 0; right: 0; border: 0; z-index: 10;">
    <img src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
         alt="Fork me on GitHub"
         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>

<div id="name">
    <h2 align="center" class="animated rubberBand" style="cursor: pointer;" id="heading"> Extract Your <i
            class="fa fa-whatsapp"></i> Group <i class="fa fa-address-book" aria-hidden="true"></i> Contacts !
    </h2>
</div>

<form class="container" method="post" id="id_divform">
    {{ form.as_p }}
    {% csrf_token %}
    <div class="g-recaptcha" align="center" data-sitekey="6LfzXhYUAAAAANBi-HxIyUZ2opqdGNm4rxjuTJsG"></div>

    <button type="button" class="btn-floating btn-large waves-effect waves-light green darken-4 s12 m2"
            id="reset"
            title="Reset text box">Reset
    </button>
    <button type="submit" class="btn-floating btn-large waves-effect waves-light red right" id="extract"
            title="Submit"><i
            class="fa fa-paper-plane s12 m2"
            aria-hidden="true"></i></button>
</form>

<iframe id="tut-video" align="center" width="560" height="315" src="https://www.youtube.com/embed/lJIhvj7V5qo"
        frameborder="0" allowfullscreen></iframe>

<div id="error-modal" class="modal">
    <div class="modal-content">
        <h4 align="center">Error Log</h4>
        <p id="error-message"> You Cannot Submit Empty Div Element .</p>
    </div>
</div>

<div id="success-modal" class="modal">
    <div class="modal-content">
        <h4 align="center">Viola</h4>
        <p id="success-message">Cool , You have Contacts !</p>
    </div>
</div>

<div id="warning">
    <h4 id="msg" align="center">Note: We do not store any Contact Number in Backend.</h4>
</div>

<br><br>

<footer>
    <div class="row">
        <div class="col-lg-1">
            <div class="g-ytsubscribe" data-channelid="UC-jSOiQs07LAbdEbXTzY20w" data-layout="full" data-count="default"
                 data-onytevent="onYtEvent"></div>
            <p class="right" style="margin-top: 7px;"> Copyrights © <a href="http://www.shuboy2014.me"
                                                                       title="Github">Shubham
            Aggarwal</a> 2017 <br>Made with <i class="fa fa-heart" style="color: darkred;"></i> in India
            </p>
        </div>
    </div>
    <br>
</footer>
<script src="{% static 'js/whatprojs.min.js' %}"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-79857989-4', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>