{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConExtractor | Extract WhatsApp Group Contacts</title>
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script  src="{% static 'js/FileSaver.min.js' %}"></script>
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/whatprocss.css' %}" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
</head>
<body>

<nav>
    <div class="navbar-fixed light-blue darken-4">
        <div class="container">
            <a href="/" class="brand-logo">ConExtractor</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://facebook.com/shuboy2014"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="https://linkedin.com/in/shuboy2014"><i class="fa fa-linkedin fa-2x"></i></a></li>
                <li><a href="https://github.com/shuboy2014"><i class="fa fa-github fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</nav>


<div id="name">
    <h2 align="center"> Extract Your <i class="fa fa-whatsapp"></i> Group <i
            class="fa fa-address-book" aria-hidden="true"></i> Contacts !
    </h2>
</div>
<br>


<div class="container">
    <textarea rows="15" id="div-element" placeholder="Paste your div Element Here !" spellcheck="false"></textarea>
    <a class="btn-floating btn-large waves-effect waves-light green darken-4 s12 m2" id="reset"
       title="Reset text box">Reset</a>
    <a class="btn-floating btn-large waves-effect waves-light red right" id="extract" title="Submit"><i
            class="fa fa-paper-plane s12 m2"
            aria-hidden="true"></i>
    </a>
</div>

<iframe id="tut-video" align="center" width="560" height="315" src="https://www.youtube.com/embed/lJIhvj7V5qo" frameborder="0" allowfullscreen></iframe>


<div id="error-modal" class="modal">
    <div class="modal-content">
        <h4 align="center">Error Log</h4>
        <p id="error-message"> You Cannot Submit Empty Div Element .</p>
    </div>
</div>

<div id="success-modal" class="modal">
    <div class="modal-content">
        <h4 align="center">Viola</h4>
        <p id="success-message">Cool , You have Contacts !</p>
    </div>
</div>


<div id="warning">
  <h4 id="msg" align="center">Note: We do not store any Contact Number in Backend.</h4>
</div>

<br><br>

<footer>
    <div class="g-ytsubscribe" data-channelid="UC-jSOiQs07LAbdEbXTzY20w" data-layout="full" data-theme="dark"
         data-count="default"></div>
    <p class="right" style="margin-top: 7px;"> Copyrights © <a href="http://github.com/shuboy2014" title="Github">Shubham
        Aggarwal</a> 2016 <br>Made with <i class="fa fa-heart"></i> in India
    </p>
    <br>
</footer>
<script  src="https://apis.google.com/js/platform.js"></script>
<script  src="{% static 'js/materialize.min.js' %}"></script>
<script  src="{% static 'js/../static/whatprojs.min.js' %}"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-79857989-4', 'auto');
    ga('send', 'pageview');

</script>
{% csrf_token %}
</body>
</html>